body {
    margin:                 0px;
}
h1 {
    text-align:             center;
    background:             #aaf;
    margin:                 0px;
    padding:                20px;
}
p {
    margin:                 0px;
    padding:                0px;
}
.DISCLAMER  {
    width:                  calc(100% - 200px);
    background:             #aaa;
    padding:                10px;
    padding-left:           100px;
    padding-right:          100px;
    text-align:             center;
    font-size:              .9em;
}
.TIMEZONE {
    width:                  calc(100% - 200px);
    background:             #aaa;
    padding:                0px;
    padding-left:           100px;
    padding-right:          100px;
    text-align:             center;
    font-weight:            bold;
}
.ACTIVIDADES {
    text-align:             center;
}
.ACTIVIDAD {
    display:                inline-block;
    width:                  250px;
    height:                 400px;
    margin:                 5px;
    border:                 3px solid black;
    border-radius:          12px;
    padding:                0px;
    vertical-align:         top;
    overflow:               auto;
}
.ACTIVIDAD p {
    padding-left:           5px;
    padding-right:          5px;
}
.LUGAR {
    background:             #afa;
}
.TITULO {
    cursor:                 pointer;
}
.TITULO p {
    font-size:              1.3em;
    font-weight:            bold;
    background:             #aaf;
    min-height:             60px;
}
.TITULO p:hover {
    background:             #55f;
    color:                  white;
}
.CONFERENCISTA p:last-child {
    font-size:              1em;
    font-weight:            bold;
    border-bottom:          3px solid #aaa;
}
.CONFERENCISTA ,
.LUGAR ,
.TEMA {
    cursor:                 pointer;
}
.CONFERENCISTA:hover ,
.LUGAR:hover ,
.TEMA:hover {
    background:             #faa;
}
.CONFERENCISTA .FOTOCNF {
    max-height:             60px;
    float:                  right;
    border-radius:          6px;
    margin:                 3px;
}
.HORARIO {
    background:             #aaa;
}
.HORARIO div {
    display:                inline-block;
}
.BOTONERA {
}
.BOTONERA div {
    display:                inline-block;
    vertical-align:         middle;
}
.BOTONERA select,
.BOTONERA button {
    background:             #aaa;
    margin:                 5px;
    border:                 0px;
    border-radius:          10px;
    padding:                10px;
}
.BOTONERA div.MAESTRA button {
    background:             #aaf;
    border:                 2px solid black;
    font-size:              1.3em;
}
.BOTONERA .FECHA select {
    background:             #aaf;
    border:                 2px solid black;
    font-size:              1.3em;
}
.BOTONERA .FECHA option {
    font-size:              0.7em;
}
